@import url(../lib/font/fontsselectezy/stylesheet.css);
@import url(../lib/font/Architects_Daughter/ArchitectsDaughter.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");

body {
  background: #fff;
}

.reveal .bg-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -40%;
  height: 80%;
  overflow: hidden;
  background-color: #1976d2;
  background: linear-gradient(325deg, #0d47a1, #42a5f5);
  transform: skewY(8deg);
  transform-origin: 100%;
  opacity: 0;
  /*transition: opacity 0.3s linear;*/
}
.title-bg .reveal .bg-container {
  opacity: 1;
}
.ending-bg .reveal .bg-container {
  opacity: 1;
  transform: skewY(-4deg);
  bottom: -60%;
}

.reveal .title-slide,
.reveal .title-slide h2 {
  color: #fff;
}
.reveal .title-slide a {
  color: #ddd;
}
.reveal .title-slide h2 {
  font-weight: 400;
  font-size: 1.8em;
}

.reveal .title-slide img {
  max-width: 40%;
  max-height: 30%;
  background: none;
}

.reveal h1 {
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
}
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.reveal h4 {
  font-size: 1.3em;
}

.reveal p {
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.reveal a {
  color: #1976d2;
}

.reveal .left {
  text-align: left;
}

.reveal section img,
.reveal section img:hover {
  border: none;
  box-shadow: none;
  background: none;
}

.reveal section em {
  color: #1976d2;
  font-style: normal;
}

.reveal section strong {
  color: #dd0031;
  font-weight: normal;
}

.reveal .slide-background.present {
  opacity: 0.8;
}

.reveal ul.no-bullets li,
.reveal ul.dashed li {
  list-style-type: none;
}
.reveal ul.dashed li:before {
  display: inline-block;
  content: "\2013";
  position: relative;
  margin-left: -20px;
  left: -10px;
  width: 20px;
}

.reveal ul.small {
  font-size: 70%;
}

.reveal table td {
  text-align: center;
}

.reveal table thead th {
  text-align: center;
}

.reveal .backdrop {
  display: inline-block;
  padding: 0 0.3em;
  margin: 0.2em -0.3em;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  line-height: 1.2;
}
.reveal .backdrop2 {
  margin: 0.3em -20em;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  line-height: 2.1;
}

.button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  padding: 8px 15px;
  background: #69f;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}

.reveal .cols {
  width: 100%;

  display: flex;
  flex-direction: row;
}

.reveal .col,
.reveal .col2 {
  flex: 1 50%;
  margin: 0 10px;
}
.reveal .col.wide {
  flex: 1.3;
}
.reveal .col.narrow {
  flex: 0.7;
}

.reveal .col pre,
.reveal .col2 pre {
  width: 100%;
  margin-left: 0;
  overflow: auto;
}
.reveal .col pre,
.reveal .col pre code {
  height: 350px;
}
.reveal .col2 pre,
.reveal .col2 pre code {
  height: 170px;
}
.reveal .col.auto-size pre,
.reveal .col.auto-size pre code {
  height: auto;
}

.reveal .output {
  padding: 10px;
}

.reveal .col pre.output {
  padding: 0 10px;
  background: rgba(248, 248, 248, 0.7);
}

.reveal .output label,
.reveal .output input,
.reveal .output button {
  font-size: 20px;
  padding: 3px 5px;
}
.reveal .output input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
.reveal .output button.button {
  padding: 8px 15px;
}

.reveal .output li {
  font-size: 26px;
}

.reveal section .output img {
  margin: 5px 0;
}

.reveal .photo-credits {
  position: absolute;
  bottom: 0;
  right: 10px;
  color: #999;
  font-weight: bold;
  font-size: 16px;
  z-index: 99;
  display: none;
}
.show-photo-credits .photo-credits {
  display: block;
}
.reveal .photo-credits a {
  color: #999;
}

iframe.iframe-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.reveal .twitter-tweet {
  margin: 10px auto !important;
}

/**
 * Quote marks around "quotes"
 */
.reveal blockquote {
  position: relative;
  padding-left: 65px;
  text-align: left;
  box-shadow: none;
}

.reveal blockquote:before,
.reveal blockquote:after {
  font-family: serif;
  font-size: 300%;
  line-height: 0.1em;
  color: rgba(150, 150, 150, 0.5);
}

.reveal blockquote:before {
  content: "\201C";
  margin-left: -65px;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}

.reveal blockquote:after {
  content: "\201D";
  margin-left: 0;
  vertical-align: -0.6em;
}

.reveal blockquote cite {
  position: absolute;
  left: 65px;
  bottom: 0;
  margin-bottom: -2.2em;
}

.reveal blockquote cite:before {
  content: "-- ";
}

.reveal .strike .strike,
.reveal .strike2 .strike2 {
  text-decoration: line-through;
}

.reveal .controls .controls-arrow:before,
.reveal .controls .controls-arrow:after {
  width: 2em;
  height: 0.35em;
}
.reveal:not(.has-vertical-slides) .controls .navigate-left,
.reveal:not(.has-vertical-slides) .controls .navigate-right {
  bottom: 8px;
}

/**
 * Callout arrows & highlights
 */
.reveal .callout {
  position: absolute;
  display: inline-block;
}
.reveal .callout,
.reveal .callout-static {
  font-size: 32px;
  color: rgba(240, 40, 60, 0.8);
  font-family: "Architects Daughter", cursive;
  text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 2px #fff, 0 0 2px #fff;
  line-height: 1;
}
.reveal .callout.position-top .callout-text {
  margin-left: 30px;
  margin-bottom: -5px;
}
.reveal .callout.position-topright .callout-text {
  margin-left: 15px;
}
.reveal .callout.position-left .callout-text {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.reveal .callout.position-right .callout-text {
  margin-left: -19px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.reveal .callout.position-bottom .callout-text {
  margin-left: 50px;
  margin-top: -10px;
}
.reveal .callout.position-bottomleft .callout-text {
  margin-top: 20px;
  margin-right: -25px;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}
.reveal .callout .callout-arrow,
.reveal .callout .callout-circle {
  font-family: "fontsselectezymedium";
  font-size: 150px;
  line-height: 0.3;
  text-align: left;
}
.reveal .callout.position-left .callout-arrow,
.reveal .callout.position-right .callout-arrow,
.reveal .callout.position-bottomleft .callout-arrow {
  display: inline-block;
  vertical-align: middle;
}
.reveal .callout.position-bottomleft .callout-arrow {
  margin-bottom: 40px;
}
.reveal .callout.position-top .callout-arrow:after {
  content: "H";
}
.reveal .callout.position-topright .callout-arrow:after {
  content: "I";
}
.reveal .callout.position-left .callout-arrow:after {
  content: "D";
}
.reveal .callout.position-right .callout-arrow:after {
  content: "E";
}
.reveal .callout.position-bottom .callout-arrow:after {
  content: "Y";
}
.reveal .callout.position-bottomleft .callout-arrow:after {
  content: "G";
}
.reveal .callout .callout-circle {
  font-size: 250px;
}
.reveal .callout .callout-circle:after {
  content: "d";
}
.reveal .callout.position-circle-top .callout-text {
  margin-top: 20px;
  margin-bottom: -20px;
  margin-left: 40px;
}

/**
 * Override some code highlight styles
 */
.reveal pre {
  width: 900px;
  /*margin-left: -20px;*/
  border-radius: 3px;
  box-shadow: none;
  border: 2px solid #f0f0f0 !important;
}
.reveal pre code {
  padding: 0 10px;
  max-height: 600px;
  border-radius: 3px;
  font-size: 21px !important;
  line-height: 26px !important;
  font-family: Consolas, monospace !important;
  color: #333;
}
.reveal pre.bash, .reveal pre.cli {
  background-color: #333;
  border: 2px solid #555 !important;
}
.reveal pre.bash code {
  color: #17ff0b;
}
.reveal pre.cli code {
  color: #eee;
}
.reveal pre code .error {
  color: #FC507A;
}
.reveal section code em {
  color: inherit;
  font-style: normal;
}
.hljs {
  background: rgba(248, 248, 248, 0.7) !important;
}
.reveal pre.pseudo {
  border: 3px solid rgba(200, 0, 50, 0.5);
}
.reveal pre.pseudo code {
  padding: 15px 20px;
}
.reveal .slides section pre code .fragment {
  opacity: 0.06;
  visibility: inherit;
}

/**
 * Code with marks highlighted
 */
.reveal pre code .fragment.mark {
  opacity: 1;
  visibility: inherit;
}
.reveal pre code .fragment.mark.visible,
.reveal pre code mark {
  display: inline-block;
  padding: 0 3px;
  margin: 0 -3px;
  background-color: rgba(255, 245, 0, 0.4);
  box-shadow: 3px 0 0 rgba(255, 245, 0, 0.4), -3px 0 0 rgba(255, 245, 0, 0.4);
  border-radius: 6px;
  line-height: 1.2;
  color: #333;
}

.reveal .footer {
  position: absolute;
  bottom: 20px;
  left: 10px;
  right: 100px;
  font-size: 16px;
  z-index: 1;
  opacity: 0.8;
}
.no-footer .reveal .footer {
  display: none;
}

.reveal .footer h3 {
  display: inline-block;
  margin: 0;
}
.reveal .footer img {
  height: 26px;
  margin-bottom: -8px;
}

/* Dark theme for slides with dark bg image */
.theme-dark body {
  background: #555;
}
.theme-dark .reveal h1,
.theme-dark .reveal h2,
.theme-dark .reveal h3,
.theme-dark .reveal h4,
.theme-dark .reveal h5,
.theme-dark .reveal h6,
.theme-dark .reveal p {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(100, 100, 100, 0.2);
}
.theme-dark .reveal a {
  color: #eee;
  text-shadow: 1px 1px 2px rgba(100, 100, 100, 0.2);
}

/* PRETTY PRINTING STYLES for prettify.js. */
/* The following class|color styles are derived from https://github.com/google/code-prettify/blob/master/src/prettify.css*/

/* SPAN elements with the classes below are added by prettyprint. */
.pln {
  color: #000 !important;
} /* plain text */

@media screen {
  .str {
    color: #800 !important;
  } /* string content */
  .kwd {
    color: #00f !important;
  } /* a keyword */
  .com {
    color: #060 !important;
  } /* a comment */
  .typ {
    color: red !important;
  } /* a type name */
  .lit {
    color: #08c !important;
  } /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun,
  .opn,
  .clo {
    color: #660 !important;
  }
  .tag {
    color: #008 !important;
  } /* a markup tag name */
  .atn {
    color: #606 !important;
  } /* a markup attribute name */
  .atv {
    color: #800 !important;
  } /* a markup attribute value */
  .dec,
  .var {
    color: #606 !important;
  } /* a declaration; a variable name */
  .fun {
    color: red !important;
  } /* a function name */
}
